{% extends "academico/base.html" %}

{% block content %}

<div class="container">
    <h2>Tablero estadístico</h2>

        <form method="get">
            <section class="container bg-border bt-2">
                <h5>Estadísticas de promedios</h5>
                <p>Indique los valores para ajustar el promedio</p>
                <input type="number">

            </section>
        
            <section class="container">
                <h5>Estadísticas de totales</h5>
                <p>Indique los valores para ajustar el promedio</p>

            </section>

            <section class="container">
                <h5>Estadísticas de tiempos promedio de graduación</h5>
                <p>Indique los valores para ajustar el promedio</p>

            </section>
        
        </form>
    
</div>


{% endblock %}