{% extends "academico/base.html" %}

{% block title %}eGraduados {% endblock %}

    {% block content %}    
    <main class="container">
        <!-- Analiticos -->
        <a href="generacion_titulos.html" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Generación de títulos</h3>
                    <p class="card-text">
                        Apartado para la generación de títulos en trámite y analíticos.
                    </p>
                </div>
            </div>
        </a>

        <!-- Listado de graduados -->
        <a href="#" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Listado de graduados</h3>
                    <p class="card-text">
                        Lista completa con todos los gradudos <b>cargados en este sistema</b>
                    </p>
                </div>
            </div>
        </a>

        <!-- Estadisticas -->
        <a href="#" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Estadísticas</h3>
                    <p class="card-text">
                        Estadisticas y graficos acerca de los graduados
                    </p>
                </div>
            </div>
        </a>

        <!-- Carga de datos -->
        <a href="#" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Carga de datos</h3>
                    <p class="card-text">
                        Apartado para la carga masiva de datos
                    </p>
                </div>
            </div>
        </a>

        <!-- Gestión de carrera -->
        <a href="#" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Gestión de carrera</h3>
                    <p class="card-text">
                        Apartado para la gestión de las carreras
                    </p>
                </div>
            </div>
        </a>
    </main>

    {% endblock %}    